{{> header}}
{{> navbar}}
 <div class="container">
    <h1>Pintores</h1>
  
    {{#if pintores}}
    <table class="table table-dark table-hover"></table>
        <thead>
            <tr>
                <td>Id</td>
                <td>Nombre</td>
                <td>Nacionalida</td>
                <td>Corriente</td>
                <td>Imagen</td>
            </tr>
        </thead>
<tbody>
    {{#each pintores}}
    <tr>
            <td>Id</td>
                <td>{{_id}}</td>
                <td>{{nombre}}</td>
                <td>{{nacionalidad}}</td>
                <td>{{corriente}}</td>
                <td>{{pintura}}</td>

    </tr>
    {{/each}}
</tbody>

    {{else}}
        <div>No se encuentran pintores</div>
    {{/if}}

 </div>

 {{> footer}}