 {{> header}}
 {{> navbar}}
<div class="container">
    <h1>Los pintores</h1>
    {{#if  pintores }}
    <table class="table table-dark table-hover">
        <thead>
        <tr>
            <td>Id</td>
                <td>Nombre</td>
                <td>Nacionalida</td>
                <td>Corriente</td>
                <td>Imagen</td>
        </tr>
        </thead>
        <tbody>
        {{#each  pintores }}
        <tr>
                <td>{{_id}}</td>
                <td>{{nombre}}</td>
                <td>{{nacionalidad}}</td>
                <td>{{corriente}}</td>
                <td>{{pintura}}</td>
        </tr>
        {{/ each }}
        </tbody>
    </table>
    {{ else }}
    <div>No se encontraron Participantes.</div>
    {{/if}}
</div>
{{> footer}}